html, body {
    background-color: #F27F5E;
    font-family: 'Arial' , sans-serif;
    margin: 0;
    background-image: url(https://img.freepik.com/premium-photo/fresh-vegetables-falling-into-plate-white-background-slow-motion_115767-77.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 1000px 650px;
    background-blend-mode: multiply;
}

/* Header Styles */
header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

header .logo {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: black;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav ul li.dropdown:hover > a,
header nav ul li.dropdown:focus-within > a {
    color: #F27F5E;
    text-decoration: underline;
}

header nav ul li .home:hover {
    color: #F27F5E;
    text-decoration: underline;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: lighter;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content a.view-all {
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}


header .login a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header .login a img {
    height: 25px;
    margin-right: 5px;
    
}

/* Search Section Style */
.first {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Pestifero', serif;
    padding: 150px;
}

.first h1 {
    font-size: 65px;
    font-weight: 100;
    color: #fff;
    margin: 40px 0 20px;

}

.first .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.first .search-bar input {
    padding: 20px;
    border: none;
    border-radius: 30px;
    width: 300px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    box-sizing: border-box;
}

.first .search-bar button {
    padding: 15px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    font-weight: normal;
    font-family: 'Pestifero', serif;
    font-size: 21px;
    margin-right: 40px;
    outline: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.first .search-bar .explore-btn {
    background-color: #f0c45c;
    color: #ffffff;
    border-radius: 30px;
    padding: 15px 30px;
}

#ingredients-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ingredient-tag {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 30px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.remove-btn {
    margin-left: 10px;
    cursor: pointer;
    color: #F27F5E;
    font-weight: bold;
}

.recipes {
    text-align: center;
    padding: 50px;
}

.recipes .container {
    max-width: 1200px;
    margin: 0 auto;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center the content horizontally */
}

.recipe-card {
    width: 200px; /* Fixed width for cards */
    height: 200px;
    padding: 20px;
    margin: 10px; /* Space between cards */
    border: 1px solid #ddd; /* Light border around cards */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    overflow: hidden; /* Hide overflow */
    text-align: center; /* Center align text */
    background-color: #fff; /* Background color */
    transition: transform 0.2s; /* Smooth transform on hover */
}

.recipe-card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.recipe-card img {
    width: 100%; /* Full width */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Cover the area */
    border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.recipe-card h3 {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Padding around text */
    font-size: 15px; /* Font size */
    color: #000000; /* Text color */
}